.textContent {
    display: flex;
    flex-flow: row wrap;
    padding: 22px 20px 13px;
}

.metaData {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 10px;
    line-height: 12px;
}

.userLink {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 20px;
    padding: 0 6px 0 0;
}

.avatar {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 0 7px 0 0;
}

.username {
    color: var(--orange);
}

.createdAt, .createdAt * {
    color: var(--grey99);
}

.publishLabel {
    display: none;
}

@media all and (min-width: 1024px) {
    .textContent {
        flex-direction: column;
        justify-content: space-evenly;
        order: 2;
    }

    .userLink {
        padding: 0 0 0 5px;
        order: 2;
    }

    .metaData {
        order: 2;
    }

    .publishLabel {
        display: inline;
    }
}

@media all and (min-width: 1540px) {
    .textContent {
        flex-basis: 672px;
    }

    .userLink:hover {
        text-decoration: underline;
    }
}