.form {
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    height: 89px;
    resize: none;
    outline: none;
    padding: 16px 18px;
}

.button {
    width: 220px;
    align-self: flex-end;
    color: var(--white);
    background-color: var(--orange);
    padding: 17px 50px;
    border-radius: 0 0 5px 0;
    font-family: 'Roboto', serif;
}