.card {
    position: relative;
    background-color: var(--white);
    border-radius: 7px;
    display: flex;
    flex-flow: row wrap;
}

.card > * {
    flex: 1 1 100%;
}

/* .dropdownContainer {
    flex: 0 1 auto;
} */

@media all and (min-width: 1024px) {
    .card {
        padding: 0 60px;
        display: flex;
        flex-flow: row nowrap;
    }

    /* .dropdownContainer {
        flex: 0 1 auto;
        align-self: center;
        order: 3;
        position: relative;
    } */
}

@media all and (min-width: 1540px) {
    .card{
        padding: 20px 60px;
    }

    .card:hover, .card:focus-within {
        outline: 1px solid var(--greyD9);
        cursor: pointer;
    }
}